<%if @movies.size >= 1 %>
		<h1>Movies</h1>
	<%else %>
		<h1>Movie</h1>
	<%end %>

<table border="1">
	<tr>


		<th>Title</th>
		<th>Rating</th>
		<th>Umsatz</th>
		<th>Beschreibung</th>
		<th>Erscheinungsdatum</th>
		<th>Einzelheiten</th>
		<th>Bearbeiten</th>
		<th>Löschen</th>


	</tr>
<% @movies.each do |movie| %> 
		<tr>
			<td>	<%= movie.title %> </td>
			<td>	<%= movie.rating %> </td>
			<td>	<%= format_total_gross(movie) %> </td>
			<td>	<%= format_movie_description(movie) %> </td>
			<td>	<%= movie.released_on %> </td>
			<td>  <%= link_to "Zeigen", movie_path(movie.id) %></td>
			<td>	<%= link_to "Bearbeiten", edit_movie_path(movie.id) %></td>
			<td>	<%= link_to "Löschen", movie_path(movie.id), method: :delete, data: {confirm: "Wirklich löschen"} %></td>
		</tr>
		<% end %>
</table>

<%= link_to "Neuen Film anlegen", new_movie_path %>